{% extends 'base.html.twig' %}

{% block title %}Conosci MEP! Diego Massarini{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('main') }}
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&family=Ubuntu:wght@500&display=swap" rel="stylesheet"> 

{% endblock %}

{% block body %}
 <div class="mep">
     <!-- <h4 class="mep-title">mep around the world</h4> -->

     <!-- HEADER -->
     <div class="mep-partner">
         <div class="mep-partner-ball">
             <div class="mep-partner-img"></div>
         </div>
         <h3 class="mep-partner-description">These are not not just our partners , these are our gang!</h3>
     </div>

   <!-- PARTNER USERS -->
     <div class="mep-users">
     </div>
 </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('main') }}
{% endblock %}
